.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin: 20px; */
    width: 100%;
    margin-left: 0;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-self: center; */
    /* margin-top: 20px; */
    margin: 20px;
    width: 100%;
    /* margin-left: 250px; */
  }
  .card-container-bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
  }
  .card-container-bottom > div{
    width: 50%;
  }
  @media only screen and (min-width: 768px) {
    .card-container {
      /* max-width: 900px; */
    }
  }
  