.navbar {
  background-color: #172f44;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 250px;
  /* width: 20%; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  padding: 10px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: rgb(15, 46, 85);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 16px;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 20px;
}


